In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00],
}
df = pd.DataFrame(data)
print(df)

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0